<%- include('partials/_header') %>
    <div class="content-wrapper">
        <br>
        <div class="container-fluid">

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">İHA'lar hakkında bilgiler</h3>
                            <div class="card-tools">
                                <div class="input-group input-group-sm" style="width: 150px;">
                                    <input type="text" name="table_search" class="form-control float-right"
                                        placeholder="Search">
                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-default">
                                            <i class="fas fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card-body table-responsive p-0">
                            <table class="table table-hover text-nowrap">
                                <thead>
                                    <tr>
                                        <th>Adı</th>
                                        <th>X konumu</th>
                                        <th>Y konumu</th>
                                        <th>Z konumu</th>
                                        <th>Engel X</th>
                                        <th>Engel Y</th>
                                        <th>Engel Z</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for(let i=0; i< iha.length; i++){ %>
                                    <tr>
                                        <td><%= iha[i].name %></td>
                                        <td><%= iha[i].x %></td>
                                        <td><%= iha[i].y %></td>
                                        <td><%= iha[i].z %>.</td>
                                        <td><%= iha[i].e_x %>.</td>
                                        <td><%= iha[i].e_y %>.</td>
                                        <td><%= iha[i].e_z %>.</td>
                                    </tr>
                                    <% } %>
                                </tbody>
                            </table>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

    <%- include('partials/_footer') %>